<!DOCTYPE html>

<html>

<head>
    <meta charset ="UTF-8">
    <title>Həftəlik Dərs Cədvəli</title>
</head>
<body>
    <h2>Qrup daxil edin:</h2>
    <form>
        <input type="text">
    <br>
    </form>
    <h1>Həftəlik Dərs Cədvəli</h1>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
    <table>
        <tr bgcolor="white">
            <th>Gün</th>
            <th>Vaxt</th>
            <th>Dərs</th>
            <th>Dərsin növü</th>
            <th>Qrup</th>
        </tr>
        <tr bgcolor="white">
            <td>Bazar ertəsi</td>
            <td>09:00 - 10:30</td>
            <td>Riyaziyyat</td>
            <td>Mühazirə</td>
            <td>842</td>
        </tr>
        <tr bgcolor="white">
            <td>Bazar ertəsi</td>
            <td>10:45 - 12:15</td>
            <td>Fizika</td>
            <td>Mühazirə</td>
            <td>842</td>
        </tr>
        <tr bgcolor="white">
            <td>Çərşənbə axşamı</td>
            <td>09:00 - 10:30</td>
            <td>Kimya</td>
            <td>Mühazirə</td>
            <td>842</td>
        </tr>
    </table>




</body>
</html>